body {
    padding: 0;
    margin: 0;
    background: #E9E0D6;
    overflow: hidden;
    text-align: center;
}
h1 {
    font-family: Uni Sans;
    margin: 10px;
}
body div {
    display: inline-block;
}
#startScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    text-align: center;
    color: #eee;
    font-size: 1.5em;
    padding-top: 100px;
}
#startScreen input {
    background: #3A9AD9;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    color: white;
    width: 50%;
    height: 50px;
    font-size: 1em;
    border-radius: 3px;
}
#gameOver {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
    padding-top: 100px;
    
}
#gameOver h1{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 2em;
}
#gameOver input[type="text"]{
    width: 85%;
    height: 40px;
    text-align: center;
    background: #fff;
    box-shadow: inset 0px 3px 20px -5px rgba(0,0,0,0.5);
    border: 0;
    font-size: 1.5em;
    font-family: Uni Sans;
    
}
#gameOver input[type="button"]{
    width: 40%;
    height: 40px;
    margin: 10px;
    font-size: 1em;
    border-radius: 3px;
    background: #3A9AD9;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    color: white;
    transition: 0.5s;
}
#gameOver table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
th {
    color: white;
    font-family: Uni Sans;
    text-align: center;
    font-size: 1.5em;
    height: 60px;
}
tr:odd {
 background: rgba(255,255,255,0.5);
}
td {
    width: 50%;
    text-align: center;
    color: white;
    font-family: Uni Sans;
    border-bottom: 1px solid #555;
}
tr:last-child td{
    border: 0;
}
#ball {
    display: inline-block;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    background: #EB7260;
    position: absolute;
    top: calc(50vh - 3.5vw);
    left: 46.5vw;
    z-index: 9;
}
#timer {
    font-size: 1.75em;
    color: rgba(0, 0, 0, 0.5);
    font-family: Fira Mono;
}
::-webkit-scrollbar { 
    display: none; 
}
@font-face {
    font-family: Uni Sans;
    src: url(fonts/UniSansThin.otf)
}